{% extends "dashboard/layout.html" %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "cartwear_support/lib/select2/select2.css" %}" type="text/css" charset="utf-8">

    <link rel="stylesheet/less" href="{% static "cartwear_support/less/support.less" %}" type="text/css" charset="utf-8">
    <script src="{% static "cartwear_support/lib/less/less-1.4.1.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "cartwear_support/lib/select2/select2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cartwear_support/js/dashboard.js" %}"></script>
{% endblock %}
