{% extends 'cartwear_support/dashboard/layout.html' %}

{% load form_tags %}
{% load i18n %}
{% load url from future %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
{% endblock %}

{% block body_class %}create-page support new-ticket{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans "Support" %}</li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
    <h1>{% trans "New ticket" %}</h1>
</div>
{% endblock %}

{% block dashboard_content %}
<form class="form wysiwyg" id="ticket-create-form" method="post" action=".">
    {% csrf_token %}

    <div class="row-fluid">
        <div class="span9">
            <div class='table-header'>
                <h2><i class="icon-comments"></i>{% trans "New ticket" %}</h2>
            </div>

            <div class="page-content well">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span6">
                            {% include "cartwear_support/partials/form_field.html" with field=form.requester %}
                            <span>
                                {% blocktrans %}
                                    Enter an existing user or
                                    <a href="#requester-create-form-modal" data-toggle="modal">
                                        add a new user
                                    </a>.
                                {% endblocktrans %}
                            </span>
                        </div>
                        <div class="span6">
                            {% include "cartwear_support/partials/form_field.html" with field=form.is_internal %}
                        </div>
                    </div>
                </div>

                <div class="well ticket-property-fields">
                    <div class="row-fluid">
                    {% for field in form.get_property_fields %}
                        <div class="span3">
                            {% include "cartwear_support/partials/form_field.html" %}
                        </div>
                    {% endfor %}
                    </div>
                </div>

                <div class="well ticket-message-fields">
                {% for field in form.get_message_fields %}
                    {% include "cartwear_support/partials/form_field.html" %}
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="span3">
            <div class="table-header">
                <h3>{% trans "Ticket details" %}</h3>
            </div>
            <div class="page-content well">
                <span style="color: red;">
                    <strong>TODO:</strong> The related data goes here.
                </span>
            </div>
        </div>

    </div>
    <div class="fixed-actions-group">
        <div class="form-actions">
            <div class="pull-right">
                {% include "cartwear_support/dashboard/partials/save_with_status.html" %}
            </div>
            <a class="btn" href="{% url 'support-dashboard:ticket-list' %}">{% trans "cancel" %}</a>
        </div>
    </div>
</form>

<div id="requester-create-form-modal" class="modal hide fade" tabindex="-1"
     role="dialog" aria-labelledby="requester-create-form-modal-label" aria-hidden="true">
    <form id="create-user-form" method="post" action="{% url 'support-api:customer-list' %}">
        {% csrf_token %}

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="requester-create-form-modal-label">{% trans "Create new user" %}</h3>
        </div>

        <div class="modal-body">
            {% include "partials/form_fields.html" with form=requester_create_form %}
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
            <button type="submit" class="btn btn-primary">{% trans "Create user" %}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    support.dashboard.initAutoComplete();
{% endblock %}
