{% extends "cartwear/partials/form_field.html" %}

{% block label %}
    {% if not nolabel and not field.is_hidden %}
        <label for="{{ field.auto_id }}" class="control-label{% if field.field.required %} required{% endif %}">
            {{ field.label|safe }}
            {% if field.field.required %} <span>*</span>{% endif %}
        </label>
    {% endif %}
{% endblock %}
