{% extends "cartwear/customer/profile/profile.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}
{% trans 'Create new ticket' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-pages{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'promotions:home' %}">{% trans 'Home' %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'support:customer-ticket-list' %}">
            {% trans 'Support' %}
        </a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans 'Create ticket' %}</li>
</ul>
{% endblock %}

{% block headertext %}{% trans 'Create new ticket' %}{% endblock headertext %}

{% block content %}
<form id="create-ticket-form" action="." method="post" class="form">
    {% csrf_token %}

    {% include "partials/form_fields.html" %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Create ticket" %}</button>
        {% trans "or" %}
        <a href="{% url 'support:customer-ticket-list' %}">{% trans "cancel" %}</a>
    </div>
</form>
{% endblock content %}
