{% extends "cartwear/customer/profile/profile.html" %}
{% load i18n %}
{% load url from future %}
{% load thumbnail %}

{% block body_class %}account-pages{% endblock %}

{% block title %}
{% blocktrans with ticket_number=ticket.number %}Update ticket #{{ ticket_number }}{% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'promotions:home' %}">{% trans 'Home' %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'support:customer-ticket-list' %}">{% trans 'Support' %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        {% blocktrans with ticket_number=ticket.number %}Update ticket #{{ ticket_number }}{% endblocktrans %}
    </li>
</ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with ticket_number=ticket.number %}Update ticket #{{ ticket_number }}{% endblocktrans %}
{% endblock headertext %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Date created" %}</th>
                <th>{% trans "Last updated" %}</th>
                <th>{% trans "Assigned to" %}</th>
            </tr>
            <tr>
                <td>{{ ticket.status.name }}</td>
                <td>{{ ticket.date_created|date:"jS M Y H:i" }}</td>
                <td>{{ ticket.date_updated|date:"jS M Y H:i" }}</td>
                <td>{{ ticket.assignee.get_full_name|default:"-" }}</td>
            </tr>

            {% with related_orders=ticket.relatedorders.all %}
                {% if related_orders|length %}
                    <tr>
                        <td colspan="4">
                        {% trans "Related order(s):" %}
                        {% for related_order in related_orders %}
                            <a href="{% url 'customer:order' related_order.order.number %}">
                            {% blocktrans with order_number=related_order.order.number %}
                            Order #{{ order_number }}
                            {% endblocktrans %}
                            </a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endwith %}

            {% with related_products=ticket.relatedproducts.all %}
                {% if related_products|length %}
                    <tr>
                        <td colspan="4">
                        {% trans "Related product(s):" %}
                        {% for related_product in related_products %}

                            {% with product=related_product.product %}
                                <a href="{% url 'catalogue:detail' product.slug product.id %}">
                                    {% thumbnail product.primary_image.original "40x40" as img %}
                                        <img src="{{ img.url }}" />
                                    {% endthumbnail %}
                                {% blocktrans with product_number=product.title %}
                                    {{ product_title }}
                                {% endblocktrans %}
                                </a>{% if not forloop.last %},{% endif %}
                            {% endwith %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endwith %}
        </table>
    </div>
</div>

<form id="add-message-form" action="." method="post" class="form">
    {% csrf_token %}
    {% include "partials/form_fields.html" %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Send message" %}</button>
    </div>
</form>

<hr />

{% for message in message_list %}
<div class="well">
    <p><strong>From:</strong> {{ message.user.get_full_name|default:message.user.email }}, {{ message.date_created|date:"jS M Y H:i" }}</p>
    {{ message.text|safe }}
</div>
{% endfor %}

<div class="well">
    <p><strong>From:</strong> {{ ticket.requester.get_full_name|default:ticket.requester.email }}, {{ ticket.date_created|date:"jS M Y H:i" }}</p>
    {{ ticket.body|safe }}
</div>
{% endblock content %}
